<footer id="footer">
    <div class="container">
        <div class="container-inner">
            <a id="back-to-top" href="javascript:;"><i class="icon fa fa-angle-up"></i></a>
            <div class="credit">
                <h1 class="logo-wrap">
                    <a href="<%- url_for() %>" class="logo"></a>
                </h1>
                <p>&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %> |
                  <iframe style="margin-left: 2px; margin-bottom:-5px;" frameborder="0" scrolling="0" width="100px" height="20px" src="https://ghbtns.com/github-btn.html?user=suitelab&amp;repo=suitelab.github.io&amp;type=star&amp;count=true">
                  </iframe>
                </p>
                <p>Powered by <a href="//hexo.io/" target="_blank">Hexo</a>. Theme by <a href="//github.com/ppoffice" target="_blank">PPOffice</a></p>
            </div>
            <div class="footer-plugins">
              <%- partial('plugin/scripts', { isFooter: true }) %>
            </div>
        </div>
    </div>
</footer>
